<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="text-align: center;">My animals page</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <img src="https://png.pngtree.com/background/20230612/original/pngtree-many-animals-standing-together-for-a-photograph-picture-image_3178861.jpg" alt="animales">
  </div>
  
<!--Creamos un botones para pasar de a otras páginas-->

<ion-button expand="block" (click)="gotoMyAnimals()">Show animals</ion-button>
<ion-button expand="block" (click)="gotoLabels()">Show labels</ion-button>

</ion-content>
