<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <h1>Welcome to Daniela's Animal Page!</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen destacada -->
  <div class="image-container">
    <img src="https://png.pngtree.com/background/20230612/original/pngtree-many-animals-standing-together-for-a-photograph-picture-image_3178861.jpg" alt="animales" class="img-fluid">
  </div>

  <!-- Botones de navegación con más estilo -->
  <ion-button expand="block" color="secondary" (click)="gotoMyAnimals()">Show Animals</ion-button>
  <ion-button expand="block" color="tertiary" (click)="gotoLabels()">Show Labels</ion-button>

  <!-- Botón para salir de la app -->
  <ion-button expand="block" color="danger" (click)="exitApp()">Exit App</ion-button>
</ion-content>
