<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daniela's labels
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Apuntes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Recorre cada animal en la lista y muestra su información-->

  <ion-card *ngFor="let animal of animals">  <!--Componente ion-card de Ionic-->
    <ion-item> <!--El ion-item tiene tres slots o zonas: izquierda, centro y derecha-->
      <ion-avatar slot="start"> <!--El ion-avatar está a la izquierda-->
        <img src="../../assets/animallogo.jpg" alt="logo" /> 
      </ion-avatar>
      <ion-label> <!--El ion-label está en el centro-->
        <h1>Animals</h1>
        <p>Oct 20, 2024</p>
      </ion-label>
      <ion-icon slot="end" name="thumbs-up"></ion-icon> <!--Se coloca en la zona de la derecha al poner "end"-->
    </ion-item>

    <img src="animal.image" alt="animal.title"> <!--La imagen se coloca en la carpeta assets-->

    <ion-card-header>
      <ion-card-subtitle>{{ animal.subtitle }}</ion-card-subtitle>
      <ion-card-title>{{ animal.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ animal.description }}
    </ion-card-content>


<!--Ahora colocamos el pie de la tarjeta. Usamos ion-footer y dentro ion-grid-->
    <ion-footer>
      <ion-grid> <!--Crea una fila (ion-row) que contiene 3 columnas(ion-col)-->
        <ion-row>
          
          <ion-col>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{ animal.likes | number }}</div>
          </ion-col>
          
          <ion-col>
            <ion-icon name="text"></ion-icon>
            <div class="wrap-text">{{ animal.comments }} Comentarios</div>
          </ion-col>
          
          <ion-col>
            <ion-icon name="time"></ion-icon>
            <div>{{ animal.time }}</div>
          </ion-col>
        
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>
</ion-content>