<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Animals</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Form to Add/Edit Animal -->
  <form [formGroup]="animalForm" (ngSubmit)="isEditMode ? updateAnimal() : addAnimal()">
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input #genderInput formControlName="gender" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Race</ion-label>
      <ion-input formControlName="race" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">
      {{ isEditMode ? 'Update Animal' : 'Add Animal' }}
    </ion-button>
  </form>

  <!-- Animal List with ActionSheet and Badge -->
  <ion-list>
    <ion-item *ngFor="let animal of animals">
      <ion-avatar slot="start">
        <img *ngIf="animal?.filename" src="http://localhost:8080/images/{{animal.filename}}" alt="image"/>
      </ion-avatar>
      <ion-label>
        <h2>{{ animal.gender }}</h2>
        <p>{{ animal.race }}</p>
      </ion-label>
      <ion-badge color="primary">{{ animal.race }}</ion-badge>
      <ion-buttons slot="end">
        <ion-button (click)="editAnimal(animal)">Edit</ion-button>
        <ion-button color="danger" (click)="deleteAnimal(animal.id)">Delete</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Floating Action Button to Add New Animal -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAnimal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
